.DS_Store
data.sqlite
migrations/**
__pycache__/**

10_Databases/migrations/alembic.ini
10_Databases/migrations/env.py
10_Databases/migrations/README
10_Databases/migrations/script.py.mako
10_Databases/migrations/__pycache__/env.cpython-37.pyc
10_Databases/migrations/versions/f84c05d62319_added_breed_column.py
10_Databases/migrations/versions/__pycache__/f84c05d62319_added_breed_column.cpython-37.pyc
10_Databases/__pycache__/app.cpython-37.pyc
10_Databases/__pycache__/app.cpython-37.pyc
10_Relationships/__pycache__/models.cpython-37.pyc
10_Relationships/migrations/alembic.ini
10_Relationships/migrations/env.py
10_Relationships/migrations/README
10_Relationships/migrations/script.py.mako
10_Relationships/migrations/__pycache__/env.cpython-37.pyc
10_Relationships/migrations/versions/55717aa01e78_initial_migration.py
10_Relationships/migrations/versions/__pycache__/55717aa01e78_initial_migration.cpython-37.pyc
10_DatabasesInViews/__pycache__/forms.cpython-37.pyc
10_DatabasesInViews/__pycache__/adoptions_site.cpython-37.pyc
10_DatabasesInViews/migrations/alembic.ini
10_DatabasesInViews/migrations/__pycache__/env.cpython-37.pyc
10_DatabasesInViews/migrations/script.py.mako
10_DatabasesInViews/migrations/versions/65549b328769_new_tables.py
10_DatabasesInViews/migrations/versions/aa22224077d9_add_new_table_owner.py
10_DatabasesInViews/migrations/versions/__pycache__/65549b328769_new_tables.cpython-37.pyc
10_DatabasesInViews/migrations/versions/__pycache__/aa22224077d9_add_new_table_owner.cpython-37.pyc
10_DatabasesInViewsRestructured/__pycache__/app.cpython-37.pyc
10_DatabasesInViewsRestructured/migrations/alembic.ini
10_DatabasesInViewsRestructured/migrations/env.py
10_DatabasesInViewsRestructured/migrations/script.py.mako
10_DatabasesInViewsRestructured/migrations/__pycache__/env.cpython-37.pyc
10_DatabasesInViewsRestructured/migrations/versions/f81cc38358b4_created_puppies_and_owners.py
10_DatabasesInViewsRestructured/migrations/versions/__pycache__/f81cc38358b4_created_puppies_and_owners.cpython-37.pyc
10_DatabasesInViewsRestructured/myproject/__pycache__/__init__.cpython-37.pyc
10_DatabasesInViewsRestructured/myproject/__pycache__/models.cpython-37.pyc
10_DatabasesInViewsRestructured/myproject/owners/__pycache__/forms.cpython-37.pyc
10_DatabasesInViewsRestructured/myproject/owners/__pycache__/views.cpython-37.pyc
10_DatabasesInViewsRestructured/myproject/puppies/__pycache__/forms.cpython-37.pyc
10_DatabasesInViewsRestructured/myproject/puppies/__pycache__/views.cpython-37.pyc
